@use 'variables.scss';
// -- BUTTONS --
.btn{
    display: inline-block
}
.btn--primary {
    @extend %button;
}
.btn--cta{
    @extend %button;
    padding: .5rem 1.5em;
    border: 1px solid $clr-grey;
    text-decoration: none;
    
    &:hover {
        border: 1px solid $clr-dark;
        background-color: $clr-dark;
        color: $clr-light;
    }
}

a:hover .cursor{
    border: none;
}

// deck
.deck{
    display: flex;
    flex-direction: column;
    width: 100%;

    .deck__item{
        display: flex;
        flex-direction: column;
        gap: .5em;
        max-width: 600px;

        &:nth-of-type(2){
            align-self: flex-end;
        }
    }
}


@media (max-width: 68.9375rem){
    // -- CURSOR --
    // hide cursor on mobiles
    .cursor{
        display: none;
    }

    // deck
    .deck{
        gap: 1em;
    }
}