// -- GRID SYSTEM --
.grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 38em)) 1fr;
    
    .grid__container{
        grid-column: 2/4;
    }
}

.two-part-section{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.block{
    margin: 0 auto;
    max-width: 48rem;
}

// -- SECTION --
section{
    padding: 5em 0;

    &.fullscreen{
        .grid__container{
            display: grid;
            place-items: center;
        }
    }
}

.fullscreen,
section.fullscreen{
    height: 100vh;
}

// -- HEADER --
header{
    height: 90vh;
    

    .landing{
        

        .landing__text{
            position: relative;
            margin: 0;
            top: 60%;
            transform: translateY(-50%);
            max-width: 1024px;
            text-align: left;
        }
    }
}

// -- FOOTER --

@media(min-width: 87.5rem){ // 1400px
    // -- GRID SYSTEM --
    .grid{
        grid-template-columns: 1fr repeat(2, minmax(auto, 48em)) 1fr;
    }
}

@media(min-width: 112.5rem){ // 1800px
    // -- GRID SYSTEM --
    .grid{
        grid-template-columns: 4rem 1fr 1fr 4rem;
    }
}


@media(max-width: 90rem){
    // -- GRID SYSTEM --
    .grid{
        .grid__container{
            padding: 0 2.5em;
        }
    }

    .two-part-section{
        grid-template-columns: 1fr;
    }

    // -- HEADER --

    // -- FOOTER --
}


@media(max-width: 48rem){
    // -- GRID SYSTEM --
    .grid{
        .grid__container{
            padding: 0 1.5em;
        }
    }

    .two-part-section{
        grid-template-columns: 1fr;
    }

    // -- NAVIGATION --
    nav{
        .navigation{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            .logo{
                
            }
            
            .navigation__links{
                display: none;
            }
        }
    }

    // SECTION  
    section{
        padding: 1.5em 0;
    }
    // -- HEADER --

    // -- FOOTER --
}
@media(max-width: 20rem){
    // -- GRID SYSTEM --
    .grid{
        .grid__container{
            padding: 0 1em;
        }
    }

    // SECTION  
    section{
        padding: 1em 0;
    }
    // -- HEADER --

    // -- FOOTER --
}