// -- GRID SYSTEM --
.grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 38em)) 1fr;
    
    .grid__container{
        grid-column: 2/4;
    }
}

.two-part-section{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.block{
    margin: 0 auto;
    max-width: 48rem;
}

// -- SECTION --
section{
    padding: 5em 0;

    &.fullscreen{
        .grid__container{
            display: grid;
            place-items: center;
        }
    }
}

.fullscreen,
section.fullscreen{
    height: 100vh;
}

// -- HEADER --
header{
    height: 90vh;
    
    .landing{
        
        .landing__text{
            position: relative;
            margin: 0;
            top: 60%;
            transform: translateY(-50%);
            max-width: 1024px;
            text-align: left;
        }
    }
}

// -- FOOTER --
footer{
    &.grid{
        .grid__container {
            &.footer_block{
                margin-bottom: 3em;
                padding: 0 1em 0 !important;
                border-top: 1px solid #0d0d0d77;
                border-bottom: 1px solid #0d0d0d77;
            }
        }
    }
}

@media(min-width: 61.9375rem){ // 991px
    // -- GRID SYSTEM --
    .grid{
        grid-template-columns: 2.5rem 1fr 1fr 2.5rem;
        .grid__container{
            padding: 0 !important;
        }
    }
}

@media(min-width: 90rem){ // 1440px
    // -- GRID SYSTEM --
    .grid{
        grid-template-columns: 4rem 1fr 1fr 4rem;
    }
}

@media(min-width: 100rem){ // 1600px
    // -- GRID SYSTEM --
    .grid{
        grid-template-columns: 20% 1fr 1fr 20%;
    }
}

@media(max-width: 90rem){ // 1440px
    // -- GRID SYSTEM --
    .grid{
        .grid__container{
            padding: 0 2.5em;
        }
    }

    .two-part-section{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 48rem){ // 768px
    // -- GRID SYSTEM --
    .grid{
        .grid__container{
            padding: 0 1.5em;
        }
    }

    .two-part-section{
        grid-template-columns: 1fr;
    }

    // -- NAVIGATION --
    nav{
        .navigation{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            .logo{
                
            }
            
            .navigation__links{
                display: none;
            }
        }
    }

    // SECTION  
    section{
        padding: 1.5em 0;
    }

    // -- FOOTER --
    footer{
        &.grid{
            .grid__container{
                &.footer_block{
                    text-align: center;
                    border-top: none;
                    border-bottom: none;
                    margin-bottom: 1em;
                    padding: 1.5em !important;
                }
            }
        }
    }
}

@media(max-width: 20rem){
    // -- GRID SYSTEM --
    .grid{
        .grid__container{
            padding: 0 1em;
        }
    }

    // SECTION  
    section{
        padding: 1em 0;
    }
    // -- HEADER --

    // -- FOOTER --
}