*{
    color: $clr-dark;
    font-family: $ff;
}
.section__heading{
    position: relative;
    margin-bottom: 4rem;
    font-size: var(--fs-xl);
    font-weight: $fw-bold;
    line-height: 1;
    height: fit-content;
    width: fit-content;
}

.super-heading{
    font-size: var(--fs-xxxl);
    font-weight: $fw-bold;
    line-height: 1;
}
.heading{
    font-size: var(--fs-xl);
    font-weight: $fw-bold;
    line-height: 1;
}
.sub-heading{
    font-size: var(--fs-l);
    font-weight: $fw-bold;
    line-height: 1.2;
    letter-spacing: 1px;
}
.mini-heading{
    font-size: var(--fs-x);
    font-weight: $fw-bold;
    line-height: 1.6;
    letter-spacing: 1px;
}

.underline{
    position: relative;
    text-decoration: underline;
}

.caption{
    font-size: var(--fs-s);
    font-weight: $fw-normal;
}

a,p{
    font-size: var(--fs-x);
    font-weight: 400;
    line-height: 1.6;
}
p{
    line-height: 1.8;
}
a{
    text-decoration: none;
    
    &:hover{
        text-decoration: none;
    }
    
    &.link{
        position: relative;
        left: 32px;
    }

    &.link::after{
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        left: -30px;
        top: 50%;
        transform: translateY(0%);
        background-color: $clr-dark;
    }
}